body {
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/*Nav Section*/
a.navbar-brand h1 {
    font-weight: bold;
}
a.nav-item.nav-link {
    font-size: 1.25em;
    color: white!important;
    font-weight: bold;
}
a.nav-item.nav-link:hover {
    color: grey!important;
}
.fa {
    color: white;
    font-size: 30px;
    margin: 0 .25em;
}
.fa:hover {
    text-decoration: none;
    opacity: .5;
    color: white;
}

/*Hero Section*/
#hero {
    background-image: url("/assets/img/console.JPG");
    background-size: auto;
}
#hero-row {
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 2em;
}
.service-logo {
    border: 3px solid white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em;
}
.service-logo:hover {
    opacity: 0.5;
}

/*Media Queries*/
@media screen and (max-width: 576px) {
    .navbar {
        padding: .5rem 0;
    }
    #album-info {
        display: none;
    }
    .section-header {
        padding-left: 1rem;
    }
}
