body {
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

section {
    margin: 1em 0;
}

/*Nav Section*/
a.navbar-brand h1 {
    font-weight: bold;
}
a.nav-item.nav-link {
    font-size: 1.25em;
    color: white!important;
    font-weight: bold;
}
a.nav-item.nav-link:hover {
    color: grey!important;
}
.fa {
    color: white;
    font-size: 30px;
    margin: 0 .25em;
}
.fa:hover {
    text-decoration: none;
    opacity: .5;
    color: white;
}

/*Full width video*/
.cover-img {
position: relative;
}

.cover-img i {
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
font-size: 60px;
} 

/*Hero Section*/

#hero-row {
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 2em;
}
.service-logo {
    border: 3px solid white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em;
}
.service-logo:hover {
    opacity: 0.5;
}

/*Video*/
.video-cover h5 {
    border: solid white 2px;
    border-top: none;
}

/*Tour widget*/
.bit-widget .bit-offers {
    background-color: white!important;
    border: 1px solid white!important;
    color: black!important;
} 

/*Media Queries*/
@media screen and (max-width: 576px) {
    .navbar {
        padding: .5rem 0;
    }
    .section-header {
        padding-left: 1rem;
    }
}
